.h1G {
    font-size: 3.5rem;
    color: rgb(102, 5, 5);
    text-align: center;
    padding: 20px;
    background: linear-gradient(to left, rgba(165, 67, 67, 0), rgba(165, 81, 81, 0.075), rgba(156, 61, 61, 0.349), rgba(161, 57, 57, 0)), 
                linear-gradient(to right, rgba(133, 35, 35, 0), rgba(90, 30, 30, 0.027), rgba(139, 39, 39, 0.219), rgba(100, 25, 25, 0)); 
}

.containerA {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img{
    border: 1px solid rgb(141, 74, 74) ;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.1); 
}

@media (max-width: 549px) {
    .img {
      width: 60%;
      height: auto;
      margin: 30px 0;
    }
    .h1G{
      font-size: 28px;
    }
    .containerA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }
  
  
@media (min-width: 550px) {
    .img {
      width: 35%;
      height: auto;
      margin: 30px 0;
      
    }

    .containerA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 50px 0;
    }
  }
  
 
@media (min-width: 1080px) {
    .img {
      width: 270px;
      height: auto;
      margin: 90px 10px;

      
    }
  }
  