.products-slider .products img {
    max-width: 200px;
    max-height: 200px;
    transition: transform 0.3s ease; 
}

.products-slider .products img:hover {
    transform: scale(1.1); 
}

.products-slider{
    background: transparent;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 30px;
    margin: 120px 0;
    
}
.products-slider .products img{
    max-width: 250px;
    max-height: 350px;
    border-radius: 20px;
}
.products-slider .products::-webkit-scrollbar{
    display: none;
}