.header{
    font-size: 4rem;
    color: rgb(53, 2, 2);
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}


@media screen and (max-width: 768px) {
    .header {
        font-size: 25px;
        color: rgb(85, 7, 7);
        text-align: center;
        justify-content: center;
        margin-top: 40px;
    }
}